[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-environ = "*"
python-dotenv = "*"
djangorestframework = "*"
coverage = "*"
django-cors-headers = "*"
zappa = "*"
psycopg2-binary = "*"
zappa-django-utils = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.8"
