.splashpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #08203e;
    background-color: #fff;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 24px;
}

.benefits {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.benefit {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #87CEEB;
    border-radius: 5%;
    margin: 20px;
}

.fas.fa-shield-alt, .fas.fa-dollar-sign, .far.fa-smile {
    font-size: xx-large;
    color: #87CEEB;
    margin: 10px;
}